{
  "*.{js,jsx,ts,tsx,vue}": [
    "prettier --write",
    "eslint --ignore-pattern 'theme/' --ignore-pattern 'assets/primevue/' --fix",
    "eslint --max-warnings 0"
  ],
  "*.{json,md,yml}": ["prettier --write"]
}
